@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .link{
    @apply hover:underline cursor-pointer text-sm
  }
  .btn{
    @apply bg-[#f8f9fa] py-2 px-6 rounded-md text-sm text-gray-900 hover:ring-1 hover:ring-gray-200 focus:outline-none active:ring-gray-300 hover:shadow-md
  }
  .bottom-menu{
    @apply flex flex-wrap space-x-6 text-gray-500 flex-grow;
  }
  .row-footer{
    @apply w-full flex  flex-wrap justify-between  text-base  py-3 px-10 border border-b-[1px] border-b-gray-200;
  }
  .footer{
    @apply absolute bottom-0 flex flex-col items-center justify-center w-full bg-gray-100 text-sm text-gray-500
  }
  .bottom-menu li{
    @apply text-center mx-auto flex-grow hover:underline
  }
  
  @media screen(sm){
    .bottom-menu{
      @apply flex-nowrap
    }
    .bottom-menu li{
      @apply text-start border-red-500
    }
    .bottom-menu:last-child li{
      @apply text-right
    }
  }
}